<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <title>TO do</title>
</head>
<body>
    <form action="/add" method="post">
        <input id="task" type="text" name="data" placeholder="Add Task" >
        <button type="submit">add</button>
     
       
        <% if(locals.list){ %>
              <% const ejslist=[] %>
        <% list.forEach(function (list) {%>
            <% if(list!==''){ %>
            <li class="todo-<%= id %>"><%= list %> 
                <input id="check" type="checkbox">
            </li>
            <% } %>
       <% }); %>

       <% } %>
    </form>     
    <!-- <button class="demo">demo</button> -->
    <!-- <script src="script.js"></script>                                                                                   -->
</body>
</html>
